<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NormanetRestrucEntities" connectionString="metadata=res://*/ContextoAnce.ctxAnce.csdl|res://*/ContextoAnce.ctxAnce.ssdl|res://*/ContextoAnce.ctxAnce.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;tcp:ance.database.windows.net ,1433&quot;;initial catalog=NormanetRestruc;persist security info=True;user id=anceU4r2020;password=$nC32020$$2;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>